<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>OIEEE</h1>
    <app-title></app-title>
    <menu-component></menu-component>
    <entry-data-component></entry-data-component>
    <button-component [label]="buttonLabel"></button-component>
<!-- ou... -->
<!-- <button-component label={{buttonLabel}}></button-component> -->

    <button-component label="buttonLabel"></button-component>
<!-- ou... -->
<!-- <button-component [label]="'buttonLabel'"></button-component> -->
  </body>
</html>

<router-outlet></router-outlet>
