<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>OIEEE</h1>
    <app-title></app-title>
    <menu-component></menu-component>
    <app-card></app-card>
    <app-check-sample *ngIf="isAliveCheckSample"></app-check-sample>
    <button (click)="checkSample()">{{SampleMessage}}</button>
    <br>
    <br>
    <button (click)="inputCheckSample()">{{InputsMessage}}</button>
    <br>
    <br>
    <entry-data-component *ngIf="isAliveCheckEntryData else anotherBlock"></entry-data-component>
    <ng-template #anotherBlock>
      <p>Clique em "criar componentes"</p>
    </ng-template>
    <button-component [label]="buttonLabel" *ngIf="isAliveCheckEntryData"></button-component>
<!-- ou... -->
<!-- <button-component label={{buttonLabel}}></button-component> -->

    <button-component label="buttonLabel" *ngIf="isAliveCheckEntryData"></button-component>
<!-- ou... -->
<!-- <button-component [label]="'buttonLabel'"></button-component> -->
  </body>
</html>

<router-outlet></router-outlet>
